*{
    margin: 0;
    box-sizing: border-box;
    font-size: small; 

}

 body{
    background: rgba(5, 5, 5, 0.555);
    color: #fff;
    padding: 3px;
    padding-top: 10px;

 }



.card{
    padding: 1rem;
    background-color: rgb(56, 56, 56);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    min-width: 12rem;
    cursor: pointer;
    transition: all .5s;
    transform-style: preserve-3d;
}

#back{
    transform: rotateY(180deg);
}

#back h5 {
    transform: rotateY(180deg);
}

#back h6 {
    transform: rotateY(180deg);
}



img{
    max-width: 15rem;
    max-height: 20rem;
    min-width: 15rem;
    min-height: 15rem;
    background-color: rgb(255, 255, 255);
}

.poke{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    max-width: 70rem;
    padding: 0 auto;
    margin: 3rem auto;
    background-color: rgba(255, 255, 255, 0.795);
    padding-top: 1rem;
    border-radius: 1%;
    
}

.card:hover{
    background-color: rgb(0, 0, 0);
}